<app-redes-sociales></app-redes-sociales>
<app-Encabezado></app-Encabezado>
<router-outlet></router-outlet>
<app-Pie-pagina></app-Pie-pagina>
<!--div *ngIf="!isLoading" class="main">
    <img class="img1" src="../../assets/images/Contenido.png">
    <img src="../../assets/images/Contenido2.png">
</div>

<h1 *ngIf="!isLoading" style=" color: #0066FF;">
    Convocatorias Activas
</h1>
<div *ngIf="!isLoading">
    <a routerLink="postulantes/create">
        <img class="img2" src="../../../assets/images/Movilidad.png">
    </a>
    <a routerLink="postulantes/create">
        <img class="img2" src="../../../assets/images/Juegos.png">
    </a>
    <a routerLink="postulantes/create">
        <img class="img2" src="../../../assets/images/Diplomado.png">
    </a>
</div>
<div *ngIf="!isLoading">
    <hr>
</div>
<div *ngIf="!isLoading">
    <a routerLink="postulantes/create">
        <img class="img2" src="../../../assets/images/Mentefactura.png">
    </a>
    <a routerLink="postulantes/create">
        <img class="img2" src="../../../assets/images/Economía.png">
    </a>
    <a routerLink="postulantes/create">
        <img class="img2" src="../../../assets/images/Musica.png">
    </a>
</div-->