img{
    transition: all 0.5s ease;
}
img:hover{
    transform: scale(0.9);
}
.main img{
 width: 49%;
}
div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img1{
    padding-right: 1rem;
}
h1{
    text-align: center;
}

.img2{
    transition: all 0.5s ease;
    width: 400px;
    height: 200px;
}
.img2:hover{
    transform: scale(0.9);
}
mat-spinner{
    margin: auto;
}