mat-form-field, form,
textarea {
    width: 100%;
}
mat-card {
    margin-top: 1rem;

}
div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button{
    transition: all .3s;
}
button:hover{
    transform: scale(0.9);
}
mat-form-field{
    padding-bottom: 1rem;
}
h1{
    text-align: center;
}