<footer class="footer-distributed">

      <div class="footer-left">
        <h3>Becas<span>Tec</span></h3>
        <p class="footer-links">
          <a href="#" class="link-1">Inicio</a> 
          <a href="https://juventudesgto.guanajuato.gob.mx/">Dirección</a>
          <a href="http://purisima.tecnm.mx/">Contáctanos</a>
        </p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Dirección</span> Blvd. del Valle #2301, Guardarrayas, Purísima del Rincón, Gto.</p>
        </div>
        <div>
          <i class="fa fa-phone"></i>
          <p> Conmutador: 476 744 71 00</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:martha.ml@purisima.tecnm.mx">martha.ml@purisima.tecnm.mx</a></p>
        </div>
      </div>

      <div class="footer-right">
        <p class="footer-company-about">
          <span>Acerca de</span>
          <br>
          © Copyright 2022 TecNM - Todos los Derechos Reservados
          Aviso de Privacidad integral
          Aviso de Privacidad simplificado
      </div>

    </footer>
    