<!--<div class="main">
    <img class="img1" src="../../assets/images/Contenido.png">
    <img src="../../assets/images/Contenido2.png">
</div>

<h1 style=" color: #0066FF;">
    Convocatorias Activas
</h1>
<div>
    <a routerLink="create">
        <img class="img2" src="../../../assets/images/Movilidad.png">
    </a>
    <a routerLink="create">
        <img class="img2" src="../../../assets/images/Juegos.png">
    </a>
    <a routerLink="create">
        <img class="img2" src="../../../assets/images/Diplomado.png">
    </a>
</div>
<div>
<hr>
</div>
<div>
    <a routerLink="create">
        <img class="img2" src="../../../assets/images/Mentefactura.png">
    </a>
    <a routerLink="create">
        <img class="img2" src="../../../assets/images/Economía.png">
    </a>
    <a routerLink="create">
        <img class="img2" src="../../../assets/images/Musica.png">
    </a>
</div>-->






