mat-form-field, form,
textarea {
    width: 100%;
}
mat-card {
    margin-top: 1rem;
    font-size: larger;
}
div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button{
    transition: all .3s;
    font-size: large;
}
button:hover{
    transform: scale(0.9);
}
mat-form-field{
    padding-bottom: 1rem;
}
h1{
    text-align: center;
}

mat-spinner{
    margin: auto;
}

input[type="file"]{
    visibility: hidden;
}

input{
    font-size: larger;
}

.image-preview{
    height: 10rem;
    margin: 1rem 0;
}
.image-preview img{
    height: 100%;
}
.title{
    background: #f7f5f5;
    font-weight: bold; padding: 15px; 
    border-left:8px solid #0099ff;
    border-right:8px solid #ff00a2; 
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}
.btnImagen{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.principal{
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3rem;
} 
#contenedor > div {
    width: 50%;
}